# Session 13 Homework: Introduction to Pandas and Reading Data

Complete the following exercises to practice Pandas basics.

In [ ]:
import pandas as pd
import numpy as np

---

## Exercise 1: Creating DataFrames

Create a DataFrame from the dictionary below and display it.

In [ ]:
data = {
    "name": ["Alice", "Bob", "Charlie", "Diana", "Eve"],
    "department": ["Sales", "IT", "HR", "IT", "Sales"],
    "salary": [50000, 60000, 45000, 70000, 55000],
    "years_exp": [3, 5, 2, 8, 4]
}

# Your code here

---

## Exercise 2: Basic DataFrame Info

Using the DataFrame from Exercise 1:
1. Display the first 3 rows
2. Display the last 2 rows
3. Show the DataFrame info (dtypes, non-null counts)
4. Show basic statistics for numeric columns

In [ ]:
# Your code here

---

## Exercise 3: Selecting Columns

Select and display:
1. Just the "name" column
2. The "name" and "salary" columns together
3. All columns except "years_exp"

In [ ]:
# Your code here

---

## Exercise 4: Using loc and iloc

Using the DataFrame:
1. Select rows 1-3 using iloc
2. Select rows where index is 0, 2, 4 using loc
3. Select the name and salary for rows 2-4

In [ ]:
# Your code here

---

## Exercise 5: Adding and Modifying Columns

1. Add a new column "bonus" that is 10% of salary
2. Add a column "total_comp" that is salary + bonus
3. Rename "years_exp" to "experience"

In [ ]:
# Your code here

---

## Exercise 6: Sorting

1. Sort the DataFrame by salary (descending)
2. Sort by department (ascending), then by salary (descending) within each department

In [ ]:
# Your code here

---

## Exercise 7: Reading CSV Data

Create a CSV file from the data, then read it back using pandas.

In [ ]:
# First, save the DataFrame to CSV
df = pd.DataFrame(data)
df.to_csv("employees.csv", index=False)

# Now read it back
# Your code here

---

## Bonus Exercise: Working with Series

1. Create a Series from a list of temperatures
2. Calculate the mean, median, and standard deviation
3. Find temperatures above 30 degrees

In [ ]:
temperatures = [22, 25, 31, 28, 35, 27, 29, 33, 24, 30]

# Your code here