# Session 17 Homework: Combining DataFrames and Data Quality

Complete the following exercises to practice combining DataFrames and handling data quality issues.

In [ ]:
import pandas as pd
import numpy as np

---

## Setup: Create Sample DataFrames

In [ ]:
# Employees
employees = pd.DataFrame({
    "emp_id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "Diana", "Eve"],
    "dept_id": [101, 102, 101, 103, 102]
})

# Departments
departments = pd.DataFrame({
    "dept_id": [101, 102, 103, 104],
    "dept_name": ["Engineering", "Marketing", "Sales", "HR"]
})

# Salaries (note: not all employees have salary data)
salaries = pd.DataFrame({
    "emp_id": [1, 2, 3, 5],
    "salary": [75000, 65000, 80000, 70000]
})

# Performance reviews
reviews = pd.DataFrame({
    "emp_id": [1, 2, 3, 4, 5, 6],
    "review_score": [4.5, 4.0, 4.8, 3.9, 4.2, 4.1]
})

print("Employees:")
print(employees)
print("\nDepartments:")
print(departments)
print("\nSalaries:")
print(salaries)
print("\nReviews:")
print(reviews)

---

## Exercise 1: Inner Merge

Merge employees with departments to get department names. Use an inner merge.

In [ ]:
# Your code here

---

## Exercise 2: Left Merge

Merge employees with salaries using a left merge to keep all employees (even those without salary data).

In [ ]:
# Your code here

---

## Exercise 3: Outer Merge

Merge employees with reviews using an outer merge to see all employees and all reviews (including review for emp_id 6 who isn't in employees).

In [ ]:
# Your code here

---

## Exercise 4: Concatenation

Create a new DataFrame with 2 new employees and concatenate it with the existing employees DataFrame.

In [ ]:
new_employees = pd.DataFrame({
    "emp_id": [6, 7],
    "name": ["Frank", "Grace"],
    "dept_id": [101, 104]
})

# Concatenate and reset index
# Your code here

---

## Exercise 5: Handling Missing Values

In [ ]:
# DataFrame with missing values
messy_data = pd.DataFrame({
    "name": ["Alice", "Bob", None, "Diana", "Eve"],
    "age": [25, None, 35, 28, 32],
    "salary": [50000, 60000, 75000, None, 70000],
    "city": ["NYC", "LA", "Chicago", "NYC", None]
})

messy_data

1. Count missing values in each column
2. Fill missing ages with the mean age
3. Drop rows where name is missing
4. Fill missing cities with "Unknown"

In [ ]:
# Your code here

---

## Exercise 6: Handling Duplicates

In [ ]:
# DataFrame with duplicates
data_with_dups = pd.DataFrame({
    "name": ["Alice", "Bob", "Alice", "Charlie", "Bob"],
    "department": ["Sales", "IT", "Sales", "HR", "IT"],
    "salary": [50000, 60000, 50000, 45000, 62000]
})

data_with_dups

1. Identify duplicate rows
2. Remove complete duplicates
3. Keep only the first occurrence of each name

In [ ]:
# Your code here

---

## Exercise 7: Complete Merge

Create a complete employee report by merging:
- employees
- departments
- salaries

Keep all employees even if they don't have salary data.

In [ ]:
# Your code here

---

## Bonus Exercise: Data Cleaning Pipeline

Clean this messy dataset by:
1. Removing duplicates
2. Handling missing values appropriately
3. Standardizing text (lowercase)
4. Converting data types where needed

In [ ]:
raw_data = pd.DataFrame({
    "Name": ["alice", "Bob", "CHARLIE", "alice", "Diana", None],
    "Age": ["25", "30", "35", "25", None, "28"],
    "Salary": [50000, 60000, None, 50000, 55000, 45000],
    "City": ["new york", "BOSTON", "chicago", "new york", "Seattle", "LA"]
})

raw_data

In [ ]:
# Your cleaning pipeline here