# Session 1: Variables, types, and operations

Let's understand how can we pass values to a program and how to store them in memory. We will also learn about the different types of data that we can store in memory and how to perform operations on them.

In [2]:
1 + 1

2

In [3]:
age = 37

In [4]:
age

37

## 0. Variables and objects

Variables and objects are the way we have to store and operate with data in Python. Variables tell Python where are we storing information in the memory, and Python interprets what type of information is there. 

Variables are *assigned* a value with `=`. 

Naming variables is usually a source of conflict in the real world. Try to always be as descriptive as possible about what a variable contains, always following these rules:
* Variables can't start with a number
* Variables can't contain special characters like @
* Variables can't be the Python reserved words (green words)

In Python, everything we create and store in memory is an object. Every variable we create is and object of a certain type, and objects usually have properties and methods.

Think of an car (object):
* It has properties: color, power, number of doors, price
* It has methods: open the door, break, accelerate, turn on lights, turn on AC, ...

Let's work with some of the most common objects, storing them into variables, and operating with them.

In [5]:
name = 'dani'

In [6]:
print(name)

dani

In [6]:
name

'dani'

The `id` of a variable is the memory address where the object is stored. When we create variables, we place information in the memory, and the variable's name is just a reference to that memory address.

We can use the `id` function to check the memory address of a variable.
```python
a = 5
print(id(a))
```

In [7]:
a = 5

id(a)

4372656176

In [8]:
a = 100

b = 100

print(id(a))
print(id(b))

4372659216
4372659216

## 1. Numeric types

### 1.1 int
`int` objects represents Integers like 1, 3, 18756394.

We create them by using their usual representation in English.

In [13]:
int_num = 17

In [14]:
type(int_num)

int

In [15]:
17 + 14

31

In [17]:
a = 7
b = 17

print(a/b)

0.4117647058823529

### 1.2 float

`float` objects represent numbers with a fractional part like 1.5, 3.141592, 1000000.0007, etc.

We create them like `int`s with a decimal part after the decimal dot

In [19]:
float_num = 17.4

# remember not to assign values to a variable named 'float' or you will override the behavior of the 'float()' function

In [20]:
float_num

17.4

In [21]:
type(float_num)

float

In [22]:
float(65)

65.0

In [23]:
my_string = '15'

int(my_string)

15

In [17]:
print(int(5.75))
print(round(5.75)) # banker's rounding

5
6

In [18]:
print(float(5.75))
print(round(5.75, 1))

5.75
5.8

In [19]:
()

()

Keep in mind that converting a float into an `int` is not the same operation as rounding. Converting a float into an `int` will remove the decimal part, while rounding will round the number to the nearest integer using the Banker's rounding method.

* [Banker's rounding](https://medium.com/@akhilnathe/understanding-pythons-round-function-from-basics-to-bankers-b64e7dd73477)

In [20]:
int(65.7) # truncates the decimal part

65

In [21]:
round(64.5) # rounds using bankers rounding

64

In [22]:
round(65.5) # rounds using bankers rounding

66

In [27]:
4e6

4000000.0

### Operations with numeric types

We can sum(`+`), substract(`-`), divide(`/`), multiply(`*`), and power (`**`).

In [24]:
4 / 2

2.0

In [28]:
number = 3

number ** 2

9

In [29]:
a = 6
b = 7.45

(a * b) / (b ** a)

0.0002614387068068006

In [26]:
# you can also use the math module for more complex calculations

import math

math.sqrt(45)

6.708203932499369

In [27]:
# sqrt(65)

49 ** (0.5)

7.0

We can also use floored quotient (`//`) and modulo/remainder (`%`)

In [30]:
# regular division
17 / 3

5.666666666666667

Floor division `//` returns the largest integer less than or equal to the division of two numbers. For example, `5 // 2` returns `2`, and `-5 // 2` returns `-3`.

In [33]:
-5 // 3

-2

In [31]:
17 // 3

5

In [29]:
# floored division
result_floored = 17 // 3
result_floored

5

The modulo operator `%` returns the remainder of the division of two numbers. For example, `5 % 2` returns `1`, and `-5 % 2` returns `1` as well. This is because Python uses the same sign for the result of the modulo operator as the divisor.

In [30]:
# modulo
17 % 3

2

In [31]:
dividend = 45
divisor = 6

modulo = dividend % divisor
floored = dividend // divisor

print(modulo)
print(floored)

floored + modulo / divisor

3
7

7.5

We can convert from `int` to `float` and viceversa

In [32]:
int(6.43)  # float to int

6

In [33]:
float(4)  # int to float

4.0

We can take the absolute value (or magnitude) of a numeric type by using `abs`

In [34]:
abs(-4)

4

Finally, for numeric types, there is a specific order of operations:

1. Parentheses
2. Exponentiation
3. Multiplication and division
4. Addition and subtraction

In [35]:
(1 + 5)**2 + (2 * 3) / 4

# parentheses first: 6**2 + 6/4
# then exponentiation: 36 + 6/4
# then division: 36 + 1.5
# then addition: final result 37.5

37.5

## 2. Text-sequence type

### 2.1 str

`str` represents *strings* of text-sequences. Strings are immutable sequences.

We create strings in different ways, all of them with the same properties and methods.

In [34]:
str1 = 'single quotes'
str2 = "double quotes"
str3 = """
triple
quotes
can span 
several 
lines
"""

print(str1)
print(str2)
print(str3)

single quotes
double quotes

triple
quotes
can span
several
lines

In [37]:
a = '''
hi
there
'''

a

'\nhi\nthere\n'

In [38]:
print(a)

hi
there

In [39]:
"I'm Daniel"

"I'm Daniel"

In [40]:
name = """DANiEL"""

name == "danIel"

False

In [36]:
phrase = 'she said 'how are you?'

print(phrase)

SyntaxError: unterminated string literal (detected at line 1) (3786849671.py, line 1)

## 3. Boolean type

Booleans (`bool`) represent truth: `True` or `False`

In [41]:
bool_variable = True

Booleans are assimilated as numbers: True is 1, False is 0

In [42]:
False == 0.00

True

In [37]:
True + False

1

In [38]:
True + True

2

In [45]:
True * 1

1

In [46]:
False * 1

0

In [47]:
a = 4

b = 4

a == b

True

Also, `bool` are the result of comparison operators like `==`, `!=`, `>`, `<`, `>=`, `<=`

* `==` is the equality operator, we use it to compare if two objects are equal
* `!=` is the inequality operator, we use it to compare if two objects are different
* `>` is the greater than operator
* `<` is the less than operator
* `>=` is the greater than or equal operator
* `<=` is the less than or equal operator

## equal operator

4 == 2*3

In [49]:
a = 5

a <= 2

False

In [47]:
a = 6

a != 4

True

Booleans are also the result of logic operations like `not`, `and`, `or`.

`not` negates the following statement:
* not True = False
* not False = True

In [51]:
not True

False

In [52]:
not False

True



`and` operations are True/False if **all** of the inputs are True/False

* True and True = True
* True and False = False
* False and True = False
* False and False = False

`or` operations are True/False if **one** of the inputs are True/False

* True or True = True
* True or False = True
* False or True = True
* False or False = False

In [53]:
condition_1 = (type(4) == int) # True
condition_2 = (type(4) == float) # False

condition_1 and condition_2 # True and False = False

False

In [54]:
condition_1 = (type(4) == int) # True
condition_2 = (type(4) == float) # False

condition_1 or condition_2 # True or False = True

True

In [48]:
(7 >= 4) and not (5 == (20 / 4))

# True and not True
# True and False
# False

False

When mixing `not`, `and`, and `or` operations, we have to take care of the order of operations. The order of operations is:

1. `not`
2. `and`
3. `or`

This means that `not` operations are executed first, then `and` operations, and finally `or` operations.