# Session 3: Data Structures I - Lists and Tuples

In this session we will learn about the following data structures:

- Lists
- Tuples

We are going to focus on two concepts to introduce these data structures: mutability and order.

## Mutability

A data structure is mutable if it can be changed after it is created.

## Order

A data structure is ordered if the order of the elements in the data structure is preserved.

## Lists

A list is a mutable and ordered data structure that can contain any type of data. Lists are created using square brackets `[]` and the elements are separated by commas.

```python
my_list = [1, 2, 3, 4, 5]
```

In [ ]:
my_list = ["a", "b", "c"]

my_list

['a', 'b', 'c']

The type of a list is `list`.

In [6]:
type(my_list)

list

In [5]:
[1, 2, 3, 4, 5, 6][3:-1]

[4, 5]

Lists can be indexed and sliced. The index of the first element is 0.

In [7]:
my_list[0]

'a'

In [8]:
my_list[-1]

'c'

Lists can contain ANY object in Python, and a mix of them.

Lists can contain lists. Or tuples, or dataframes, or files.

In [12]:
list_1 = [1, 1.5, "hola", [1, 2, 3]]

len(list_1[1])

TypeError: object of type 'float' has no len()

In [ ]:
# your solution here

We can find the position or `index` of an element in a list using `index(element)`

In [25]:
my_list = [1, 2, 3, 4]

my_list.index(3)

2

In [13]:
list_1[3][1]

2

### Slicing lists

Just like strings!

In [26]:
abc = list("abcdefghijklmnopqrstuvwxyz")

abc

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [29]:
list("a b c")

['a', ' ', 'b', ' ', 'c']

In [33]:
"a b c".split(" ")

['a', 'b', 'c']

In [28]:
"_".join(abc)

'a_b_c_d_e_f_g_h_i_j_k_l_m_n_o_p_q_r_s_t_u_v_w_x_y_z'

In [38]:
# all letters in odd indices

abc[1::2]

['b', 'd', 'f', 'h', 'j', 'l', 'n', 'p', 'r', 't', 'v', 'x', 'z']

In [39]:
# all letters in even indices

abc[::2]

['a', 'c', 'e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']

In [ ]:
# reverse the abc skipping every other letter

abc[::-2]  # start:stop:step

['z', 'x', 'v', 't', 'r', 'p', 'n', 'l', 'j', 'h', 'f', 'd', 'b']

### Nested lists

Lists can contain other lists, and when in need of extracting elements in sublist, we need to concatenate the bracket notation.

In [49]:
my_list = ["a", [[1, 2, ["ab", "ghi"]], ["a", "b", [1, 2, 3]]], [23, 45]]

In [61]:
my_list[1][1][2][1]

2

In [ ]:
# extract 'gh' from the 'ghi' element

my_list[1][0][2][1][0:2]

'gh'

In [30]:
# extract number 3

my_list[1][1][2][2]

3

In [37]:
# extract and reverse the list [1, 2, 3]

my_list[1][0][2][1][::2]

'gi'

In [50]:
int(str(my_list[2][0])[0])

2

### Concatenate and multiply lists

Just as we did with strings we can *add* lists and *multiply* them by a scalar.

In [62]:
[1, 2, 3] + ["a", "b", "c"]

[1, 2, 3, 'a', 'b', 'c']

In [63]:
["a", "b", "c"] * 4

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [64]:
a = [1, 2, 3]
b = [1, 2]

a + b

[1, 2, 3, 1, 2]

We can find the total length (or items included) in the list by using `len(list)`

In [31]:
len(my_list)

3

We can `mutate` lists by accessing elements by their index, and changing it:

In [65]:
my_list = [1, 2, 6]

my_list[2] = "h"

my_list

[1, 2, 'h']

In [71]:
lst = [1, 2, 3]

lst[3] = 0

IndexError: list assignment index out of range

We can add elements to an existing list by using `append(element)`. It will be added at the end of the list.

In [66]:
lst = ["daniel", "darcia"]
last_name_2 = "hernandez"

lst.append(last_name_2)

lst

['daniel', 'darcia', 'hernandez']

In [67]:
lst.append(last_name_2)

lst

['daniel', 'darcia', 'hernandez', 'hernandez']

In [ ]:
lst.index("hernandez")

2

In [63]:
lst

['daniel', 'darcia', 'hernandez']

In [72]:
a = [1, 2, 3]

a.append([1, 2])

a

[1, 2, 3, [1, 2]]

In [ ]:
a.append(["1"])

In [60]:
a

[1, 2, 3, [1, 2], ['1']]

In [395]:
n = lst.append(last_name_2)

n

In [397]:
lst

['daniel', 'darcia', 'hernandez']

In [407]:
b = [1, 2, 3]

b.append(4)

b

[1, 2, 3, 4]

We can sort a list using the `sort()` method. It sorts in place!

* This means that `sort()` will change the content in memory at which our list is pointing. it will mutate the variable without saying anything!

In [73]:
h = ["z", "1", "a", "d"]

h.sort()

In [79]:
h = ["z", "1", "a", "d"]

h.sort(reverse=True)

In [80]:
h

['z', 'd', 'a', '1']

In [78]:
type(sorted_h)

NoneType

In [ ]:
my_list = [3, 6, 2, 8]

my_list_sorted = my_list.sort()

my_list_sorted

In [72]:
my_list_sorted

In [76]:
a = my_list.copy()

a

[2, 3, 6, 8]

To remove elements from a list there are two main methods:

- `remove(element)`: removes the first occurrence of the element in the list
- `pop(index)`: removes the element at the specified index and returns it

We have to be careful when using `remove()` as it will throw an error if the element is not found in the list.

Also, `pop()` will throw an error if the index is out of range.

In [86]:
# remove

my_list = [1, 2, 3, 4, 5, 3, "a"]

my_list.remove("a")  # removes first occurrence of 3

my_list

[1, 2, 3, 4, 5, 3]

In [88]:
# pop

my_list = [1, 2, 3, 4, 5]

my_list.pop(2)  # removes element at index 2 and returns it

3

In [89]:
my_list

[1, 2, 4, 5]

In [92]:
lst = [1, 2, 3, 3]

lst.remove(3)

lst.remove(3)

lst

[1, 2]

In [99]:
lst = [1, 2, 3, 3]

lst.pop()

lst.pop()

lst.pop()

lst.pop()

lst

[]

In [102]:
lst = [1, 2, [1, 2, 3]]

lst.pop()

lst

[1, 2]

If we save into a variable the result of `remove()` or `pop()` we will get `None` as it does not return anything.

This is because these methods mutate the list in memory, they do not create a new list.

In [7]:
var = my_list.remove(2)

var

## Tuples

Tuples are another form of container in Python. We define them with comma-separated items within parentheses.

The main difference between `tuples` and `lists` is that `tuples` **are not mutable**. Once they're created, they stay as they were.

In [103]:
tpl = (1, 2.4, True, "a", None)

tpl[2] = "a"  # nope

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tpl = (1, 2, 3)

list_my_tpl = list(my_tpl)  # new variable containing the conversion into a list

list_my_tpl[2] = 4

my_tpl = tuple(list_my_tpl)

my_tpl

(1, 2, 4)

Tuples are used natively in Python when a function `return`s several items. Actually what python does is to return a single tuple containing each item:

### Conversions between types

In [ ]:
# list()

tpl = (1, 2, 3)

list_from_tpl = list(tpl)

list_from_tpl

[1, 2, 3]

In [ ]:
# tuple()

lst = [1, 2, 3]

tuple_from_lst = tuple(lst)

tuple_from_lst

(1, 2, 3)

## Generators and special functions

A generator in Python is a type of object that can be iterated over. They're not stored in memory as lists or tuples, but instead what we store in memory is the _recipe_ of it. 

It is only materialized when we iterate over it or when we convert it to a list or other data structure.

We are going to learn about 3 functions that return generators.

* `range()`: creates a range of numbers between start and end with a specified step
* `zip()`: zips together N lists 
* `enumerate()`: returns a list of tuples containing for each element its index and the element itself

### `range()`

In [2]:
range(0, 10, 2)  # all numbers between 1 and 9 skipping every second number

range(0, 10, 2)

In [4]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

### `zip()`

In [ ]:
list_a = ["a", "b", "c"]
list_b = [1, 2, 3, 4]
list_c = [1, 2, 3, 4]

zip(list_a, list_b, list_c)

In [5]:
tpl1 = (1, 2, 3)
tpl2 = (1, 2, 3)

list(zip(tpl1, tpl2))

[(1, 1), (2, 2), (3, 3)]

In [6]:
tpl1

(1, 2, 3)

In [8]:
z = zip(tpl1, tpl2)

list(z)

[(1, 1), (2, 2), (3, 3)]

In [11]:
z1 = zip([1, 2, 3], [4, 5, 6])

z2 = zip([10, 20, 30], [40, 50, 60])

list(zip(z1, z2))

[((1, 4), (10, 40)), ((2, 5), (20, 50)), ((3, 6), (30, 60))]

In [ ]:
list(zip(list_a, list_b, list_c))  # list of tuples

[('a', 1, 1), ('b', 2, 2), ('c', 3, 3)]

In [ ]:
list_a = ["a", "b"]
list_b = [1, 2, 3]
list_c = ["a", "b", "c"]

list(zip(list_a, list_b, list_c))

[('a', 1, 'a'), ('b', 2, 'b')]

### `enumerate()`

In [ ]:
enumerate(["x", "y", "z"])

In [ ]:
list(enumerate(["x", "y", "z"]))

[(0, 'x'), (1, 'y'), (2, 'z')]

## Exercises: lists and tuples. Help me solve this!

1. Build a list containing all the letters in the alphabet: ["a", "b", "c", ..., "z"]
2. Build a list containing all the letter in the alphabet backwards: ["z", "y", ..., "a"]
3. Build a list containing every second letter in the alphabet backwards: ["z", "x", ..., "b"]
4. Build a list with all the vowels, another containing all the consonants. Build a list containing the full alphabet using them, in alphabetic order!
5. If a=1, b=2, and so on, how much do the letters in my name add up to? Who has the heaviest name? And the lightest?

In [13]:
abc = "abcdefghijklmnopqrstuvwxyz"

list(abc)

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [17]:
list(abc[::-1])

['z',
 'y',
 'x',
 'w',
 'v',
 'u',
 't',
 's',
 'r',
 'q',
 'p',
 'o',
 'n',
 'm',
 'l',
 'k',
 'j',
 'i',
 'h',
 'g',
 'f',
 'e',
 'd',
 'c',
 'b',
 'a']

In [18]:
list(abc[::-2])

['z', 'x', 'v', 't', 'r', 'p', 'n', 'l', 'j', 'h', 'f', 'd', 'b']

In [ ]:
vowels = list("aeiou")
consonants = list("bcdfghjklmnpqrstvwxyz")

abc = vowels + consonants

abc.sort()

In [22]:
abc

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

0