# Session 06: Practice Data Structures

Using the following dictionary, answer the questions below:

```python
nested_dict = {
    'level1': {
        'level2': {
            'level3': [1, 2, 3, {'level4': 'value'}],
            'another_list': ['a', 'b', 'c']
        },
        'another_key': {
            'nested_list': [10, 20, 30],
            'nested_dict': {
                'key1': 'value1',
                'key2': 'value2'
            }
        }
    },
    'top_level_list': [
        {'list_dict1': 'value11'},
        {'list_dict2': 'value21'},
        [100, 200, 300]
    ]
}
```

In [18]:
nested_dict = {
    "level1": {
        "level2": {
            "level3": [1, 2, 3, {"level4": "value"}],
            "another_list": ["a", "b", "c"],
        },
        "another_key": {
            "nested_list": [10, 20, 30],
            "nested_dict": {"key1": "value1", "key2": "value2"},
        },
    },
    "top_level_list": [
        {"list_dict1": "value11"},
        {"list_dict2": "value21"},
        [100, 200, 300],
    ],
}

### Exercise 1

Access the value `'value1'` in `nested_dict`.

In [ ]:
# your solution here

In [ ]:
# your solution here

### Exercise 2

Access the value `'value21'` in `nested_dict`.

In [ ]:
# your solution here

### Exercise 3

Create a tuple, find a way to add a value to it.

In [ ]:
# your solution here

### Exercise 4

In these 3 sets, which elements are common to all of them?

```python
set1 = {1, 2, 3, 4, 5}
set2 = {0, 2, 4, 6, 8}
set3 = {2, 4, 6, 8, 10}
```

In [23]:
{1, 2} and {4, 5}

{4, 5}

In [ ]:
# your solution here

### Exercise 5

For the same sets, which elements are in at least one of them?

In [25]:
a = {1, 2}
b = {1, 3}
c = {1, 4}

a ^ b ^ c

{1, 2, 3, 4}

In [ ]:
# your solution here

### Exercise 6

Given 3 lists, create a dictionary where the first list are the keys, and and second and third list should be broken down as tuples associated to each key:

```python
list_keys = ['a', 'b', 'c']
list_values_1 = [1, 2, 3]
list_values_2 = [10, 20, 30]
```

For example, the first pair of the dictionary should be `'a': (1, 10)`

In [ ]:
# your solution here

### Exercise 7

With the dictionary created in Exercise 6, access the value `20`.

In [ ]:
# your solution here

### Exercise 8

How can you check if a key exists in a dictionary? Use the dictionary from Exercise 6.

Return `True` or `False`.

In [29]:
not my_dict.get("c") == None

True

In [30]:
my_dict["d"]

(1, 2, 3)

In [31]:
"c" in my_dict

True

### Exercise 8

Merge the following dictionaries into a single dictionary.

```
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {'e': 5, 'f': 6}
```

In [ ]:
# your solution here

In [33]:
dict1 | dict2 | dict3

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

### Exercise 9

Convert this list of letters into a list of letters in uppercase

```python
list_of_letters = ['a', 'b', 'c', 'd', 'e']
```

In [34]:
list_of_letters = ["a", "b", "c", "d", "e"]

str_from_list = "".join(list_of_letters)

str_from_list_upper = str_from_list.upper()

list(str_from_list_upper)

['A', 'B', 'C', 'D', 'E']

### Exercise 10

In this text:

```
Formed in March 1921, as the Australian Air Force, through the separation of the Australian Air Corps from the Army in January 1920, which in turn amalgamated the separate aerial services of both the Army and Navy. It directly continues the traditions of the Australian Flying Corps (AFC), the aviation corps of the Army that fought in the First World War and that was formed on 22 October 1912.
```

How many times does the word `Australian` show up?

In [ ]:
# your solution here

### Exercise 11

In the previous text, how many words are duplicates?

In [36]:
type(text.replace("(", ""))

str

In [ ]:
# removing special character that are not numbers or letters
text_replace_spec_chars = (
    text.replace("(", "").replace(")", "").replace(",", "").replace(".", "")
)

# convert to uppercase
text_replace_spec_chars_upper = text_replace_spec_chars.upper()

# elements in the list after splitting
n_words_list = len(text_replace_spec_chars_upper.split())

# convert list form string into set: to remove duplicates
unique_words = set(text_replace_spec_chars_upper.split())

# count elements in set
n_unique_words = len(unique_words)

# number of duplicated words
duplicates = n_words_list - n_unique_words

n_words_list, n_unique_words, duplicates

### Exercise 12

In the previous text, how many unique characters are not alphanumeric? Consider spaces and punctuation as non-alphanumeric characters. Also, consider the text as a single string in lowercase.

In [ ]:
# your solution here

### Exercise 13

Given the abc, create a dictionary where keys are the letters in odd positions and values are the letters in even positions. For example:

```python
{
    'a': 'b',
    'c': 'd',
    'e': 'f',
    ...
}
```

### Exercise 14

Create another dictionary where the keys are all the letters in the abc and the values are the letter that comes after it in the alphabet. For example:

```
{
    'a': 'b',
    'b': 'c',
    'c': 'd',
    ...
}
```

### Exercise 15

Create another dictionary where each key is a letter and the value is the letter with polar opposite. For example:

```
{
    'a': 'z',
    'b': 'y',
    'c': 'x',
    ...
}
```