# Session 19: Final Practice - 100 Comprehensive Exercises

This session provides 100 exercises covering all topics from the course. Use this to prepare for the final exam.

## Topics Covered

| Section | Topic | Exercises |
|---------|-------|----------|
| 1 | Variables and Types | 1-8 |
| 2 | Lists and Tuples | 9-18 |
| 3 | Dictionaries and Sets | 19-28 |
| 4 | Strings | 29-36 |
| 5 | Conditionals | 37-44 |
| 6 | Loops | 45-54 |
| 7 | Comprehensions | 55-62 |
| 8 | Functions | 63-72 |
| 9 | Pandas Basics | 73-85 |
| 10 | Filtering and Selecting | 86-90 |
| 11 | Aggregation and Grouping | 91-95 |
| 12 | Combining DataFrames | 96-98 |
| 13 | Data Quality | 99-100 |

---

## Section 1: Variables and Types (Exercises 1-8)

### Exercise 1

Create variables for a product: `name` (string), `price` (float), `quantity` (int), and `in_stock` (boolean). Print each variable with its type.

In [ ]:
# Your code here

### Exercise 2

Given the variables below, calculate the total cost and apply a 15% discount. Store the result in `final_price`.

In [ ]:
unit_price = 49.99
quantity = 3
discount_rate = 0.15

# Your code here

### Exercise 3

Convert the temperature from Fahrenheit to Celsius. Formula: C = (F - 32) Ã— 5/9

In [ ]:
# Swap the values of these variables
a = 10
b = 25

a, b = b, a

f"a = {a}, b = {b}"  # Should print: a = 25, b = 10

### Exercise 4

Use the modulo operator to determine if `number` is even or odd. Print the result.

In [ ]:
number = 47

# Your code here

### Exercise 5

Calculate the compound interest using the formula: A = P(1 + r/n)^(nt)

Where:
- P = principal ($1000)
- r = annual interest rate (5% = 0.05)
- n = times compounded per year (12)
- t = years (3)

In [ ]:
principal = 1000
rate = 0.05
n = 12
years = 3

# Your code here

### Exercise 6

Swap the values of `a` and `b` without using a temporary variable.

In [ ]:
a = 10
b = 25

# Your code here

print(f"a = {a}, b = {b}")  # Should print: a = 25, b = 10

### Exercise 7

Convert the string `"42"` to an integer, multiply by 2, then convert back to string with the suffix " items".

In [ ]:
text_number = "42"

# Your code here

### Exercise 8

Given a floating-point number, round it to 2 decimal places and also get its integer part using `int()`.

In [ ]:
value = 123.456789

# Your code here

---

## Section 2: Lists and Tuples (Exercises 9-18)

### Exercise 9

Create a list of the first 10 positive integers. Then print the first 3, last 3, and every other element.

In [ ]:
# Your code here

### Exercise 10

Given the list below, find the maximum, minimum, sum, and average of the numbers.

In [ ]:
numbers = [23, 45, 12, 67, 89, 34, 56, 78, 90, 11]

# Your code here

### Exercise 11

Append, insert, and remove elements from the list:
1. Append "grape" to the end
2. Insert "mango" at index 2
3. Remove "banana"

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]

# Your code here

### Exercise 12

Sort the list in ascending order, then in descending order. Print both results.

In [ ]:
scores = [78, 92, 65, 88, 71, 95, 83]

# Your code here

### Exercise 13

Create a nested list representing a 3x3 matrix. Access the element in the second row, third column.

In [ ]:
# Your code here

### Exercise 14

Combine two lists into one and remove duplicates while preserving order.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Your code here

### Exercise 15

Create a tuple with coordinates (latitude, longitude). Unpack them into separate variables.

In [ ]:
# Your code here

### Exercise 16

Given a list of tuples representing student grades, find the student with the highest average.

In [ ]:
students = [
    ("Alice", [85, 90, 88]),
    ("Bob", [78, 82, 80]),
    ("Charlie", [92, 95, 91]),
    ("Diana", [88, 85, 90])
]

# Your code here

### Exercise 17

Reverse a list without using the `reverse()` method or `reversed()` function.

In [ ]:
original = [1, 2, 3, 4, 5]

# Your code here

### Exercise 18

Find the indices of all occurrences of "apple" in the list.

In [ ]:
fruits = ["apple", "banana", "apple", "cherry", "apple", "date"]

# Your code here

---

## Section 3: Dictionaries and Sets (Exercises 19-28)

### Exercise 19

Create a dictionary representing a book with keys: title, author, year, pages. Print each key-value pair.

In [ ]:
# Your code here

### Exercise 20

Add a new key "genre" to the dictionary, update the "pages" value, and safely get a key that doesn't exist.

In [ ]:
book = {"title": "1984", "author": "George Orwell", "year": 1949, "pages": 328}

# Your code here

### Exercise 21

Count the frequency of each word in the sentence (case-insensitive).

In [ ]:
sentence = "the quick brown fox jumps over the lazy dog the fox was quick"

# Your code here

### Exercise 22

Merge two dictionaries. If a key exists in both, sum the values.

In [ ]:
sales_q1 = {"apple": 100, "banana": 150, "cherry": 75}
sales_q2 = {"banana": 200, "cherry": 100, "date": 50}

# Your code here

### Exercise 23

Invert a dictionary (swap keys and values). Handle potential duplicate values.

In [ ]:
grades = {"Alice": "A", "Bob": "B", "Charlie": "A", "Diana": "B"}

# Your code here

### Exercise 24

Create a nested dictionary representing a company with departments and employees.

In [ ]:
# Your code here

### Exercise 25

Find the intersection, union, and difference of two sets.

In [ ]:
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

# Your code here

### Exercise 26

Remove duplicates from a list while preserving the original order.

In [ ]:
items = [1, 3, 2, 1, 5, 3, 5, 2, 4, 1]

# Your code here

### Exercise 27

Check if one set is a subset or superset of another.

In [ ]:
small = {1, 2, 3}
large = {1, 2, 3, 4, 5}

# Your code here

### Exercise 28

Find the key with the maximum value in a dictionary.

In [ ]:
scores = {"Alice": 85, "Bob": 92, "Charlie": 78, "Diana": 95}

# Your code here

---

## Section 4: Strings (Exercises 29-36)

### Exercise 29

Extract the domain name from an email address.

In [ ]:
email = "john.doe@example.com"

# Your code here

### Exercise 30

Check if a string is a palindrome (ignoring case and spaces).

In [ ]:
text = "A man a plan a canal Panama"

# Your code here

### Exercise 31

Count the number of vowels and consonants in a string.

In [ ]:
text = "Hello World"

# Your code here

### Exercise 32

Convert a sentence to title case (first letter of each word capitalized).

In [ ]:
sentence = "the quick brown fox jumps over the lazy dog"

# Your code here

### Exercise 33

Replace all occurrences of "Python" with "Java" in the text.

In [ ]:
text = "Python is great. I love Python programming. Python is easy to learn."

# Your code here

### Exercise 34

Split a full name into first name and last name, then format as "Last, First".

In [ ]:
full_name = "John Doe"

# Your code here

### Exercise 35

Remove all punctuation from a string.

In [ ]:
text = "Hello, World! How's it going? I'm fine; thanks."

# Your code here

### Exercise 36

Use f-strings to create a formatted report from the given data.

In [ ]:
product = "Widget"
quantity = 150
price = 29.99
total = quantity * price

# Create a formatted string like:
# "Product: Widget | Qty: 150 | Price: $29.99 | Total: $4,498.50"

# Your code here

---

## Section 5: Conditionals (Exercises 37-44)

### Exercise 37

Write a program that assigns a letter grade based on a numeric score:
- 90-100: A
- 80-89: B
- 70-79: C
- 60-69: D
- Below 60: F

In [ ]:
score = 85

# Your code here

### Exercise 38

Determine if a year is a leap year. Rules:
- Divisible by 4 AND (not divisible by 100 OR divisible by 400)

In [ ]:
year = 2024

# Your code here

### Exercise 39

Calculate shipping cost based on weight:
- Up to 1 kg: $5
- 1-5 kg: $10
- 5-10 kg: $20
- Over 10 kg: $20 + $1.50 per kg over 10

In [ ]:
weight = 12  # kg

# Your code here

### Exercise 40

Validate a password: must be at least 8 characters and contain at least one digit.

In [ ]:
password = "SecurePass1"

# Your code here

### Exercise 41

Determine the quadrant of a point (x, y) or if it's on an axis or at the origin.

In [ ]:
x = 3
y = -4

# Your code here

### Exercise 42

Classify a triangle by its sides: equilateral, isosceles, or scalene.

In [ ]:
a, b, c = 5, 5, 8

# Your code here

### Exercise 43

Determine the ticket price based on age:
- Under 5: Free
- 5-12: $5 (Child)
- 13-64: $10 (Adult)
- 65+: $7 (Senior)

In [ ]:
age = 70

# Your code here

### Exercise 44

Use logical operators to check if a number is within a range (inclusive) and is even.

In [ ]:
# These DataFrames need to be combined
employees = pd.DataFrame({
    'emp_id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'dept_id': [10, 20, 10]
})

departments = pd.DataFrame({
    'dept_id': [10, 20, 30],
    'dept_name': ['Engineering', 'Marketing', 'Sales']
})

salaries = pd.DataFrame({
    'emp_id': [1, 2, 3],
    'salary': [75000, 65000, 80000]
})

employees, departments, salaries

---

## Section 6: Loops (Exercises 45-54)

### Exercise 45

Print all numbers from 1 to 20 that are divisible by 3.

In [ ]:
# Your code here

### Exercise 46

Calculate the factorial of a number using a loop.

In [ ]:
n = 5

# Your code here

### Exercise 47

Print the first 10 Fibonacci numbers.

In [ ]:
# Your code here

### Exercise 48

Use `enumerate()` to print each item with its index.

In [ ]:
colors = ["red", "green", "blue", "yellow", "purple"]

# Your code here

### Exercise 49

Use `zip()` to iterate over two lists simultaneously and create a dictionary.

In [ ]:
keys = ["name", "age", "city"]
values = ["Alice", 30, "New York"]

# Your code here

### Exercise 50

Find the first number greater than 1000 in the Fibonacci sequence.

In [ ]:
# Your code here

### Exercise 51

Use nested loops to print a multiplication table (1-5).

In [ ]:
# Your code here

### Exercise 52

Iterate over a dictionary and print formatted key-value pairs.

In [ ]:
person = {"name": "Alice", "age": 30, "city": "Boston", "job": "Engineer"}

# Your code here

### Exercise 53

Use a while loop to simulate a simple guessing game (guess a number between 1 and 10).

In [ ]:
secret = 7
guesses = [3, 5, 7]  # Simulate user guesses

# Your code here

### Exercise 54

Use `continue` to skip negative numbers and `break` to stop at the first number over 100.

In [ ]:
numbers = [23, -5, 45, -12, 78, 150, 34, 200]

# Your code here

---

## Section 7: Comprehensions (Exercises 55-62)

### Exercise 55

Create a list of squares for numbers 1-10 using a list comprehension.

In [ ]:
# Your code here

### Exercise 56

Filter a list to keep only positive numbers using a comprehension.

In [ ]:
numbers = [-5, 3, -1, 7, -2, 8, 0, -4, 6]

# Your code here

### Exercise 57

Create a list where each number is replaced by "even" or "odd" using a conditional comprehension.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Your code here

### Exercise 58

Create a dictionary comprehension that maps numbers to their cubes.

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Your code here

### Exercise 59

Use a set comprehension to find unique word lengths in a sentence.

In [ ]:
sentence = "the quick brown fox jumps over the lazy dog"

# Your code here

### Exercise 60

Flatten a nested list using a comprehension.

In [ ]:
nested = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Your code here

### Exercise 61

Create a list of tuples (number, square, cube) for numbers 1-5.

In [ ]:
# Your code here

### Exercise 62

Filter a dictionary to keep only items where the value is greater than 50.

In [ ]:
scores = {"Alice": 85, "Bob": 42, "Charlie": 78, "Diana": 35, "Eve": 92}

# Your code here

---

## Section 8: Functions (Exercises 63-72)

### Exercise 63

Write a function that returns the maximum of three numbers.

In [ ]:
# Your code here

### Exercise 64

Write a function that checks if a string is a palindrome.

In [ ]:
# Your code here

### Exercise 65

Write a function with a default parameter that calculates the area of a rectangle (default width=1).

In [ ]:
# Your code here

### Exercise 66

Write a function that returns multiple values: the quotient and remainder of integer division.

In [ ]:
# Your code here

### Exercise 67

Write a function that accepts `*args` and returns their sum.

In [ ]:
# Your code here

### Exercise 68

Write a function that accepts `**kwargs` and prints each key-value pair.

In [ ]:
# Your code here

### Exercise 69

Write a function that validates an email address (must contain @ and at least one dot after @).

In [ ]:
# Your code here

### Exercise 70

Write a function that calculates statistics (min, max, mean, median) for a list of numbers.

In [ ]:
# Your code here

### Exercise 71

Write a lambda function that sorts a list of tuples by the second element.

In [ ]:
students = [("Alice", 85), ("Bob", 92), ("Charlie", 78)]

# Your code here

### Exercise 72

Write a function that counts the frequency of each character in a string.

In [ ]:
# Your code here

---

## Section 9: Pandas Basics (Exercises 73-85)

In [ ]:
import pandas as pd
import numpy as np

### Exercise 73

Create a Pandas Series from a list of temperatures `[22, 25, 19, 30, 28]` with custom index labels for days of the week (Mon-Fri).

In [ ]:
# Your code here

### Exercise 74

Using the Series from Exercise 73:
1. Access the temperature for Wednesday
2. Get all temperatures above 24
3. Calculate the mean temperature

In [ ]:
# Your code here

### Exercise 75

Create a DataFrame from this list of dictionaries representing book sales:

```python
books = [
    {"title": "Python Basics", "author": "Smith", "price": 29.99, "sold": 150},
    {"title": "Data Science", "author": "Jones", "price": 39.99, "sold": 200},
    {"title": "Machine Learning", "author": "Smith", "price": 49.99, "sold": 120}
]
```

In [ ]:
books = [
    {"title": "Python Basics", "author": "Smith", "price": 29.99, "sold": 150},
    {"title": "Data Science", "author": "Jones", "price": 39.99, "sold": 200},
    {"title": "Machine Learning", "author": "Smith", "price": 49.99, "sold": 120}
]

# Your code here

### Exercise 76

Using the DataFrame from Exercise 75:
1. Print the shape of the DataFrame
2. Print the column names
3. Print the data types of each column

In [ ]:
# Your code here

### Exercise 77

Using the DataFrame from Exercise 75:
1. Access the "price" column as a Series
2. Get the value in the first row, second column using `.iloc`
3. Change the price of "Data Science" to 44.99 using `.loc`

In [ ]:
# Your code here

### Exercise 78

Create a DataFrame from a dictionary with columns: name, age, city, salary.

In [ ]:
# Your code here

### Exercise 79

Display the first 3 rows, last 2 rows, and basic info about the DataFrame.

In [ ]:
df = pd.DataFrame({
    "name": ["Alice", "Bob", "Charlie", "Diana", "Eve"],
    "age": [25, 30, 35, 28, 32],
    "city": ["NYC", "LA", "Chicago", "NYC", "Boston"],
    "salary": [50000, 60000, 75000, 55000, 70000]
})

# Your code here

### Exercise 80

Select specific columns and rows using `.loc` and `.iloc`.

In [ ]:
# Select 'name' and 'salary' columns
# Select rows 1-3 using iloc
# Select rows where index is 0, 2, 4 using loc

# Your code here

### Exercise 81

Add a new column "bonus" that is 10% of salary.

In [ ]:
# Your code here

### Exercise 82

Rename columns and delete a column.

In [ ]:
# Rename 'name' to 'employee_name'
# Delete the 'bonus' column

# Your code here

### Exercise 83

Sort the DataFrame by salary (descending) and by age (ascending).

In [ ]:
# Your code here

### Exercise 84

Get descriptive statistics for the numeric columns.

In [ ]:
# Your code here

### Exercise 85

Create a DataFrame from a CSV string and set a specific column as the index.

In [ ]:
from io import StringIO

csv_data = """id,product,price,quantity
1,Apple,1.50,100
2,Banana,0.75,150
3,Cherry,3.00,50
4,Date,2.50,75"""

# Create DataFrame and set 'id' as index
# Your code here

---

## Section 10: Filtering and Selecting (Exercises 86-90)

In [ ]:
# Sample DataFrame for filtering exercises
sales_df = pd.DataFrame({
    "product": ["Laptop", "Mouse", "Keyboard", "Monitor", "Webcam", "Headset"],
    "category": ["Electronics", "Accessories", "Accessories", "Electronics", "Accessories", "Accessories"],
    "price": [999, 29, 79, 299, 89, 149],
    "units_sold": [50, 200, 150, 30, 100, 75],
    "rating": [4.5, 4.2, 4.0, 4.8, 3.9, 4.3]
})
sales_df

### Exercise 86

Filter products with price greater than 100.

In [ ]:
# Your code here

### Exercise 87

Filter products in the "Accessories" category with rating >= 4.0.

In [ ]:
# Your code here

### Exercise 88

Use `.isin()` to filter products that are either "Laptop", "Monitor", or "Webcam".

In [ ]:
# Your code here

### Exercise 89

Filter products where units_sold is between 50 and 150 (inclusive).

In [ ]:
# Your code here

### Exercise 90

Use `.query()` to filter products with price < 100 and rating > 4.0.

In [ ]:
# Your code here

---

## Section 11: Aggregation and Grouping (Exercises 91-95)

In [ ]:
# Sample DataFrame for aggregation exercises
orders_df = pd.DataFrame({
    "order_id": range(1, 11),
    "customer": ["Alice", "Bob", "Alice", "Charlie", "Bob", "Alice", "Diana", "Charlie", "Bob", "Diana"],
    "product": ["A", "B", "A", "C", "A", "B", "C", "A", "C", "B"],
    "amount": [100, 150, 200, 75, 125, 180, 90, 110, 160, 130],
    "region": ["East", "West", "East", "East", "West", "East", "West", "East", "West", "West"]
})
orders_df

### Exercise 91

Calculate the total and average amount across all orders.

In [ ]:
# Your code here

### Exercise 92

Group by customer and calculate total amount spent by each.

In [ ]:
# Your code here

### Exercise 93

Group by region and product, calculate the count and sum of amounts.

In [ ]:
# Your code here

### Exercise 94

Use `.agg()` to apply multiple aggregation functions to the amount column.

In [ ]:
# Calculate sum, mean, min, max for amount grouped by customer

# Your code here

### Exercise 95

Create a pivot table showing total amount by customer (rows) and region (columns).

In [ ]:
# Your code here

---

## Section 12: Combining DataFrames (Exercises 96-98)

In [ ]:
# Sample DataFrames for combining exercises
employees = pd.DataFrame({
    "emp_id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "Diana", "Eve"],
    "dept_id": [101, 102, 101, 103, 102]
})

departments = pd.DataFrame({
    "dept_id": [101, 102, 103, 104],
    "dept_name": ["Engineering", "Marketing", "Sales", "HR"]
})

salaries = pd.DataFrame({
    "emp_id": [1, 2, 3, 5],
    "salary": [75000, 65000, 80000, 70000]
})

print("Employees:")
print(employees)
print("\nDepartments:")
print(departments)
print("\nSalaries:")
print(salaries)

### Exercise 96

Merge employees with departments to get department names for each employee.

In [ ]:
# Your code here

### Exercise 97

Left merge employees with salaries to keep all employees (even without salary data).

In [ ]:
# Your code here

### Exercise 98

Concatenate two DataFrames vertically.

In [ ]:
new_employees = pd.DataFrame({
    "emp_id": [6, 7],
    "name": ["Frank", "Grace"],
    "dept_id": [101, 104]
})

# Concatenate employees and new_employees
# Your code here

---

## Section 13: Data Quality (Exercises 99-100)

In [ ]:
# Sample DataFrame with data quality issues
messy_df = pd.DataFrame({
    "name": ["Alice", "Bob", None, "Diana", "Eve", "Alice"],
    "age": [25, None, 35, 28, 32, 25],
    "salary": [50000, 60000, 75000, None, 70000, 50000],
    "city": ["NYC", "LA", "Chicago", "NYC", "Boston", "NYC"]
})
messy_df

### Exercise 99

Identify and handle missing values:
1. Count missing values per column
2. Fill missing ages with the mean
3. Drop rows with missing names

In [ ]:
# Your code here

### Exercise 100

Identify and remove duplicate rows.

In [ ]:
# Your code here

---

## Congratulations!

You've completed all 100 exercises! Review any exercises you found challenging and make sure you understand the solutions before the final exam.

### Tips for the Final Exam:
1. Read each question carefully
2. Test your code with the provided examples
3. Use meaningful variable names
4. Comment your code when the logic is complex
5. Check for edge cases